section.contact{
    background-color: #253031;

    .title{
        color: #fff;
    }
}

.form-group{

    label{
        display: block;
        padding: 1rem 0rem 0.1rem 0rem;
    }
    .input, .textarea{
        width: 100%;
        padding: 1rem;
        background-color: #4b5456;
        border: none;
        color: #fff;
        font-size: 1.2rem;
    }
    .textarea{
        width: 100%;
        resize: vertical;
    }
}
