body {
    font-family: $font-primary;
    outline-color: $primary;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #929292;
     ::selection {
        // color: $primary;
    }
}

.box {
    border: 1px solid red;
}

@media only screen and(min-width: 65rem) {
    .wrapper {
        max-width: 960px;
        margin: 0 auto;
    }
}

.hobbies{
   ul{
       margin-left: 0.75rem;
   }
}

section{
    padding: 2rem 1rem;
}
a{
    text-decoration: none;
    color: $primary;
    &:hover{
        text-decoration: underline;
    }
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 500ms;
    &.is-open{
        left: 0;
    }
}