section.portfolio{
    background-color: $bg-base;
    text-align: center;

    .hover-portfolio{
        position: absolute;
        background-color: rgba(46, 204, 113, 1.0);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: 700ms;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:hover{
           opacity: 0.6;
        }
    }
}