section#resume{
    background-color: $bg-base;
    text-align: center;
    position: relative;
    .button{
        display: inline-block;
        margin: 3rem auto; 
    }

    &::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -2rem;
        border-width: 2rem;
        border-style: solid;
        border-color: $bg-base transparent transparent transparent;
    }
}