$primary: #2ecc71;
$primary-dark: #252e30;
$bg-base: #f2f2f2;

$text-primary: #ffffff;
$text-primary-dark: #566366;

$font-primary: BlinkMacSystemFont,
-apple-system,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
"Helvetica",
"Arial",
sans-serif;